# Node.js
/frontend/node_modules
/backend/node_modules

# Archivos de entorno
/frontend/.env
/backend/.env
.env

# Archivos generados por el compilador
/frontend/dist
/backend/dist
/frontend/build
/backend/build

# Archivos de configuración de IDEs
.vscode/
/.idea/

# Archivos de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencias de sistemas de paquetes globales
npm/

docker-compose.yml

database/db/